
/* SIDE OPTIONS ALOE-VERA Y SOPHIM */

#side_options_sophim {
    background-color: #BCAE72;
    height: 100vh;
    width: 30vw;
    z-index: 10;
    position: absolute;
    left: -60vh;
    top: 600; 
  cursor: default;
  }
  
  #side_list_sophim {
    position: relative;
    top: 200px;
    
    
  }

  .side_text-class_sophim {
    display: none;
    position: relative;
    width: 64%;
    margin-left: 100px;
    color: white;
    font-size: 11pt;
      }
  
      #side_text1_sophim {
        margin-top: 15px;
      }
      
      #side_text2_sophim {
        margin-top: 23px;
      }
      #side_text3_sophim {
        margin-top: 31px;
      }
      #side_text4_sophim {
        margin-top: 39px;
      }
      #side_text5_sophim {
        margin-top: 47px;
      }
      

  #back-btn_sophim {
    background: url("../IMG/4x/flecha1@4x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: relative;
    border-style: none;
    top: 120px;
   left: 20px;
  outline: none;
  cursor: pointer; }
  
  #side_title_sophim {
    position: relative;
    top: 170px;
    left: 10%;
    font-family: "Footer-titles";
    font-size: 25.45pt;
    color: white;
  }
  
  #side_option1_sophim {
    color: white;
    font-family: "Footer-titles";
    font-size: 12pt;
    position: relative;
    cursor: pointer;
    text-decoration:none;
    left: 25%;
    
    padding-right: 50%;
    padding-left: 3%;
    padding-top: 3px;
    padding-bottom: 3px;
  
  }
  #side_option1_sophim:hover {
    color: black;
    background-color: white;
  }
  #side_option2_sophim {
    color: white;
    font-family: "Footer-titles";
    font-size: 12pt;
    position: relative;
    cursor: pointer;
    top: 12px;
    text-decoration:none;
    left: 25%;
    padding-right: 50%;
    padding-left: 3%;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  #side_option2_sophim:hover {
    color: black;
    background-color: white;
  }
  
  #side_option3_sophim {
    color: white;
    font-family: "Footer-titles";
    font-size: 12pt;
    position: relative;
    cursor: pointer;
    top: 24px;
    text-decoration:none;
    left: 25%;
    padding-right: 50%;
    padding-left: 3%;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  #side_option3_sophim:hover {
    color: black;
    background-color: white;
  
  }
  
  #side_option4_sophim {
    color: white;
    font-family: "Footer-titles";
    font-size: 12pt;
    position: relative;
    cursor: pointer;
    top: 36px;
    text-decoration:none;
    left: 25%;
    padding-right: 50%;
    padding-left: 3%;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  #side_option4_sophim:hover {
    color: black;
    background-color: white;
  
  }
  
  #side_option5_sophim {
    color: white;
    font-family: "Footer-titles";
    font-size: 12pt;
    position: relative;
    cursor: pointer;
   top: 48px;
   text-decoration:none;
    left: 25%;
    padding-right: 50%;
    padding-left: 3%;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  #side_option5_sophim:hover {
    color: black;
    background-color: white;
  
  }
  
  .side_li_sophim {
      width: 80%;
  }
  

#option1_sophim {
    background: url("../IMG/image-sophim.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    cursor: default; }
  
  #option2_sophim {
    background: url("../IMG/deo_img.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%; 
    cursor: default;}
  

    #container_products_sophim {
        display: table;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        width: 100vw;
        height: 100vh;
        padding: 0; }



#plus-btn_sophim {
    position: absolute;
    display: none;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    top: 85%;
    left: 46%;
    background: url("../IMG/4x/plus_btn_white.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    border-style: none;
  outline: none;}
  
    #plus-btn2_sophim {
      position: absolute;
      display: none;
      border-radius: 50%;
      border-style: none;
      cursor: pointer;
      height: 50px;
      width: 50px;
      top: 85%;
      right: 46%;
      background: url("../IMG/4x/plus_btn_white.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; 
      border-style: none;
    outline: none;}
  

