/*---------------------- FONTS ------------------------*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
  font-family: Title;
  src: url("../fonts/Raleway-Bold.ttf");
   }
@font-face {
  font-family: Text;
  src: url("../fonts/Raleway-ExtraBold.ttf"); }
@font-face {
  font-family: Subtext; 
  src: url("../fonts/Montserrat-Light.otf"); }  /* treure*/
@font-face {
  font-family: Text-options;
  src: url("../fonts/DroidSerif-Bold.ttf"); } /* treure*/
@font-face {
  font-family: Text-choices;
  src: url("../fonts/Raleway-SemiBold.ttf"); }
@font-face {
  font-family: Footer-titles;
  src: url("../fonts/Raleway-Medium.ttf"); }
@font-face {
  font-family: Regular;
  src: url("../fonts/Raleway-Regular.ttf"); }
  @font-face {
    font-family: Light;
    src: url("../fonts/Raleway-Light.ttf"); }
    
/*  TOP MENU */
* {
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif; }

h1 {
  color: white;
  font-size: 20px; }

h2 {
  color: white;
  font-size: 40px; }

h3 {
  color: #9d9d9d;
  font-size: 40px;
  
 }

.header {
  height: 120px;
  width: 100vw;
  background: white;
  position: absolute;
  color: #fff; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999; }

  .zoom {
    height: 100vh;
    width: 100vw;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
  }

  .zoom_img {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);

  }

  .es_fr{

    font-size: 14px;
    font-family: 'Footer-titles';
  }
 
  #content {
    position: relative;
  }

  .transition {
    background-size: 200vw ;
}
.transition2 {
  background-size: 100vw ;
    
}

#white-round-menu {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 90px;
  height: 90px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: black;
  z-index: 99;
}

#menu-round {
  position: fixed;
  display: flex;
  z-index: 100;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-style: none;
  color: white;
  cursor: pointer;
  height: 100px;
  width: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius:50%;
  border-radius: 50%;
  background-color: #959C7F;
  top: 50px;
  right: 50px;
  border-style: solid;
  border-width: 20px;
  border-color: white;
  
 }
.submenu-round {
  display: none;
   
}
  
  #list_round {
    
    color: white;
    font-size: 0px;
    display: none;
    
   
   
  }

  .nav > li {
    float:left;
   
    
  }
  
  .nav li h3 {
    
    color:#fff;
    text-decoration:none;
    padding:0px 4px;
    display: block;
    font-size: 20px;
    font-family: 'Light';
    justify-content: center;
    text-align: center;
    align-items: center;
    
  }

  .nav li h3:hover {
    
    color:#444428;
    text-decoration:none;
    padding:0px 4px;
    display:block;
    font-size: 20px;
    font-family: 'Text-choices';
    
    
  }

 #es{
   font-size: 10pt;
 }
 #fr{
  font-size: 7.5pt;
}
  #es:hover {
    background-color: #8F9FA9;
    color: white;
  }
  #fr:hover {
    background-color: #8F9FA9;
    color: white;
  }
  #who_menu_st {
    cursor: pointer;
  }
  #who_products_st {
    cursor: pointer;
  }
  #who_news_st {
    cursor: pointer;
  }
  #who_contact_st {
    cursor: pointer;
  }

  #who_menu_st:hover {
    background-color: #8F9FA9;
    color: white;
  }
  #who_products_st:hover {
    background-color: #8F9FA9;
    color: white;
  }
  #who_news_st:hover {
    background-color: #8F9FA9;
    color: white;
  }
  #who_contact_st:hover {
    background-color: #8F9FA9;
    color: white;
  }
  
  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
    line-height: 5px;
    
  }
  
  .nav li:hover > ul {
    
    display:block;
    left: 50%;
    margin-left: -100px;
    
    
  }
  
  .nav li ul li {
    
    position:relative;

  }
  
  .nav li ul li ul {
    right:-140px;
    top:0px;
    
  }


  #list_round > li {
    color: #444428;
    list-style:none;
    width: 300px;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    
    
  }


  

.menu-round_transition {
  height: 500px;
  width: 500px;
  left: 50%; }

.logo {
 
  line-height: 100px;
  float: left;
  text-transform: uppercase;
  margin-top: 42px;
  margin-left: 65px;
  height: 50px;
  width: 45px; }

.menu {
  float: right;
  margin-right: 190px;
  margin-top: 1.5%;
  line-height: 100px;
  width: 570px;
  font-size: 7.25pt;

 }

.menu a {
  color: #7da2b9;
  text-transform: uppercase;
  text-decoration: none;
  
  padding: 0 10px;
  transition: 0.4s; }

  .menu a:hover {
    color: white;
    background-color: #C6B406;
  }

.menu_options {
  display: inline;
  padding: 3px;
  margin: 1%;
  color: #8E9EA8; 
  font-family: 'Title';
  text-align: left;
margin-left: 5px;}

.menu_options:hover {
  
}

.menu_options2 {
  margin: 1%;
  color: #8E9EA8; 
  font-family: 'Footer-titles';
  

justify-content: center; text-align: center;
}

#product-menu {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -150px;
}
#news-menu {
  position: absolute;
  top: 46%;
  left: 50%;
  margin-left: -150px;
}
#who_menu {
  position: absolute;
  top: 24%;
  left: 50%;
  margin-left: -150px;
}
#contact-menu {
  position: absolute;
  top: 57%;
  left: 50%;
  margin-left: -150px;
}



.show-menu-btn, .hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none; }

.show-menu-btn {
  float: right; }

.show-menu-btn i {
  line-height: 100px; }

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  background-color: #146397; 
  color: white;
  text-decoration: none;
   
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111; }

.content {
  width: 100vw;
  height: 100vh;
  background-image: url('../IMG/1x/Recurso\ 1.png');
  background-color: #F6F6F3;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
text-align: center;
justify-content: center;
align-items: center; }

.content img {
  margin: 20px 0; }

.content p {
  text-align: justify; }



/* COOKIES*/
#cookies_div{

  position: absolute;
  bottom: -4%;
  left: 50%;
  margin-left: -160px ;
  width: 320px;
  height: 5%;
  background-color: white;
  text-align: center;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

}

#stick{
  width: 1%;
  font-size: 20px;
  padding: none;
  border: none;
}

#pref {

  left: 0%;
  font-family: 'Text-choices';
  font-size: 8pt ;

}

.cons_acep{
  font-family: 'Text-choices';
  width: 60px;
  font-size: 11px;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 8pt ;
  background-color: white;
  cursor: pointer;
  
}
.cons_acep:active{
  
  outline: none;
  
  
}

.cons_acep:hover{

  color: #959C7F;
}

#x_cookies{
  font-family: 'Text-choices';
  height: 3%;
  text-decoration: none;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
}

#x_cookies:hover{

  color: #959C7F;
}










#close-btn {
  display: none;
  background: url("../IMG/4x/4x/close_ok@4x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border-style: none;
  outline:none;
  position: fixed; 
  top: 21vh; left: 31vw; 
  margin-top: -5vh;
  margin-left: -5vh;
  z-index: 900; 
  width: 10vw; height: 10vw; 
  border-radius: 50%;
  border-style: solid;
  border-width: 20px;
  border-color: white;
}

#page{

  position: absolute; width: 230px; height: 40px; left: 80vw; top: 375%; opacity: 0.7; 
}

.portfolio{

  position: absolute;
  top: 75%;
  left: 50%;
  border: none;
  margin-left: -125px;
  cursor: pointer;
  width: 250px;
  height: 45px;

  background: url('../IMG/4x/descargar_portfolio2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;

  font-size: 12px;
  background-color: white;
  outline: none;
}

#linkedin_lateral {
  position: absolute; 
  top: 35vh; 
  right: 65px; 
  width: 26px;
  z-index: 9;
}

#follow_lateral {

  position: absolute;
  top: 49vh; 
  right: 30px; 
  transform: rotate(-90deg); 
  font-family: 'Footer-titles'; 
  font-size: 15px; 
  color: #959C7F ;
  z-index: 9;

}

#plus_lateral{
  position: absolute; 
  top: 57vh; 
  right: 70px; 
  width: 20px;
  z-index: 9;
}

/* WHO WE ARE------------------------------------------------------------------------------ 1*/
/* WHO WE ARE------------------------------------------------------------------------------ 1*/
/* WHO WE ARE------------------------------------------------------------------------------ 1*/
#who-div {
  background: url("../IMG/olivo-3728377_1920.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh; }

 
.title-div-who {
  position: absolute;
  width: 50%;
  height: 4px;
  top: 137px;
  left: 10%;
  }

.text-div-who {
  position: absolute;

  left: 35%;
  top: 132px; 
  text-justify: auto;
  width: 50%;
}

.subtext-div-who {
  position: absolute;
  width: 60%;
  left: 35%;
  top: 45%; }

#content_who {
  position: relative;
  width: 100vw;
  height: 90vh;
  top: 5%;
  background-color: #CCBA76;
  color: white; 
opacity: 0.9;}

.subtext {
  font-family: 'Text-choices';
  font-size: 11pt;
  line-height: 25px;
  text-align: justify;
  width: 75%;
  }
/* MATERIAS------------------------------------------------------------------------------ 1*/
/* MATERIAS------------------------------------------------------------------------------ 1*/
/* MATERIAS------------------------------------------------------------------------------ 1*/

#materias-div {
  background: url("../IMG/rama-olivo-hojas-aceitunas.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh; }


/* PRODUCTS------------------------------------------------------------------------------ 1*/
/* PRODUCTS------------------------------------------------------------------------------ 1*/
/* PRODUCTS------------------------------------------------------------------------------ 1*/
#products {
  background: url("../IMG/glass-4108085_1920.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh; }

#content_products {
  position: relative;
  width: 100vw;
  height: 40vh;
  top: 35%;
  background-color: #959C7F;
  color: white;
opacity: 0.9; }

.title {
  position: relative;
  font-family: 'Text-choices';
  font-size: 15pt; }

.text {
  font-family: 'Text';
  font-size: 25pt;
  
}

.title-div {
  position: absolute;
  width: 300px;
  height: 4px;
  top: 97px;
  left: 10%; }

.text-div {
  position: absolute;
  width: 70%;
  left: 35%;
  top: 28%; }


/* NEWS------------------------------------------------------------------------------ 1*/
/* NEWS------------------------------------------------------------------------------ 1*/
/* NEWS------------------------------------------------------------------------------ 1*/
#news {
  background: url("../IMG/summer-4246927_1920.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh; }

#content_news {
  position: relative;
  width: 100vw;
  height: 30vh;
  top: 7%;
  background-color: #8F9FA9;
  color: white;
  opacity:0.9;
   }
   #content_news2 {
    position: relative;
    width: 100vw;
    height: 30vh;
    top: 7%;
    background-color: #8F9FA9;
    color: white;
     }
  
.title-div-news {
  position: absolute;
  width: 65%;
  height: 4px;
  top: 75px;
  left: 10%; }


.text-div-news {
  position: absolute;
  width: 675px;
  left: 35%;
  top: 67px; }
  .text-div-contact {
    position: absolute;
    width: 675px;
    left: 35%;
    top: 70px; }

/* NEWS OPTIONS------------------------------------------------------------------------------ 1*/
/* NEWS OPTIONS------------------------------------------------------------------------------ 1*/
/* NEWS OPTIONS------------------------------------------------------------------------------ 1*/
#news-options {
  display: table;
  height: 100vh;
  width: 100vw;
  padding: 0; }

#sophim {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 50%;
  background: url("../IMG/image-sophim.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  
   }

   .cne{
    background: url("../IMG/oliva.png");

   }
   .cne2{
    background: url("../IMG/cream-3496778_1920.jpg");
   }
   .cne3{
    background: url("../IMG/oliva_2.jpg");
   }
   .cne4{
    background: url("../IMG/oliv_2.png");
   }
   .cne5{
    background: url("../IMG/OIP.jpg");
   }
   .cne6{
    background: url("../IMG/vegelin.jpg");
   }
   .cne7{
    background: url("../IMG/beurre-argan-vign\ \(1\).jpg");
   }
   .cne8{
    background: url("../IMG/olivo-frutal-1.jpg");
   }

   .cne9{
    background: url("../IMG/sophim-007.jpg");
   }

   .cne10{
    background: url("../IMG/phytosqualan.jpg");
   }

   .cne11{
    background: url("../IMG/sea_2.png");
   }

   .cne12{
    background: url("../IMG/sea.png");
   }

   .mantecas {
    background: url("../IMG/mantecas-vegetales.jpg");

   }

   .aceites{
    background: url("../IMG/Aceites-vegetales-para-la-piel-V2.jpg");

   }
  

  

   .aceite_mantecas {
     width: 250px;
     height: 30px;
    position: absolute;
    left: 35%;
    top:75%;
    font-size: 11pt ;
    font-family: 'Text-choices';
    background-color: white;
    color: #8D9EA8;
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;

   }


  .grey{
    filter: grayscale(100%);
  }
  .grey:hover {
    filter: grayscale(0%);
  }

  .color{
    filter: grayscale(0%);
  }

#sophim-text {
  display: block;
  position: absolute;
  background-color: #8F9FA9;
  color: white;
  width: 58vh;
  height: 58vh;
  top: 20%;
  left: 50%;
  margin-left: -29vh;
  justify-content: center;
  align-items: center;
  text-align: center; }

#aloe-vera {
  display: inline-block;
  margin: 0;
position: relative;
 right: 0;
  height: 100%;
  width: 50%;
  background: url("../IMG/deo_img.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
 }

#aloe-text {
  position: absolute;
  background-color: #BCAE72;
  color: white;
  width: 58vh;
  height: 58vh;
  top: 20%;
  left: 50%;
  margin-left: -29vh;
  justify-content: center;
  align-items: center;
  text-align: center; }

.title-options {
  position: relative;
  font-family: 'Text';
  font-size: 25pt;
  top: 10%; }

.text-options {
  position: relative;
  font-family: 'Footer-titles';
  font-size: 11pt;
  line-height: 40px;
  top: 20%;
  margin-right: 20px;
  margin-left: 20px; }

#aloe-margin {
  margin-left: 60px;
  margin-right: 60px; }

#plus-btn {
  position: absolute;
  display: none;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  top: 85%;
  left: 46%;
  background: url("../IMG/boto_mes.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  border-style: none;
outline: none;}

  #plus-btn2 {
    position: absolute;
    display: none;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    top: 85%;
    right: 46%;
    background: url("../IMG/boto_mes.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    border-style: none;
  outline: none;}

  #plus-btn:hover {
    transition: 0.7s ease-in-out;
    height: 51px;
    width: 51px;
  }

/*--//PRODUCTS-2----------------------------->*/
/*--//PRODUCTS-2----------------------------->*/
/*--//PRODUCTS-2----------------------------->*/
#container_products {
  display: table;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 100vw;
  height: 100vh;
  padding: 0; }

.photo_products {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.photo_products:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

.clear-photo {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }
/*  SIDE OPTIONS  */
#side_options_as {
  background-color: #BCAE72;
  height: 100vh;
  width: 30vw;
  z-index: 10;
  position: absolute;
  left: -60vh;
  top: 600; 
cursor: default;
}


#side_list_as {
  position: relative;
  top: 35%;
  
  
}

#side_title_as {
  position: relative;
  color: white;
  top: 30%;
  left: 10%;
  font-family: "Footer-titles";
  font-size: 25.45pt;
}

#side_option1_as {
  color: white;
  font-family: "Footer-titles";
  font-size: 12pt;
  position: relative;
  cursor: pointer;
  text-decoration:none;
  left: 25%;
  
  padding-right: 50%;
  padding-left: 3%;
  padding-top: 3px;
  padding-bottom: 3px;

}
#side_option1_as:hover {
  color: black;
  background-color: white;
}
#side_option2_as {
  color: white;
  font-family: "Footer-titles";
  font-size: 12pt;
  position: relative;
  cursor: pointer;
  top: 12px;
  text-decoration:none;
  left: 25%;
  padding-right: 50%;
  padding-left: 3%;
  padding-top: 3px;
  padding-bottom: 3px;
}
#side_option2_as:hover {
  color: black;
  background-color: white;
}

#side_option3_as {
  color: white;
  font-family: "Footer-titles";
  font-size: 12pt;
  position: relative;
  cursor: pointer;
  top: 24px;
  text-decoration:none;
  left: 25%;
  padding-right: 50%;
  padding-left: 3%;
  padding-top: 3px;
  padding-bottom: 3px;
}
#side_option3_as:hover {
  color: black;
  background-color: white;

}

#side_option4_as {
  color: white;
  font-family: "Footer-titles";
  font-size: 12pt;
  position: relative;
  cursor: pointer;
  top: 36px;
  text-decoration:none;
  left: 25%;
  padding-right: 50%;
  padding-left: 3%;
  padding-top: 3px;
  padding-bottom: 3px;
}
#side_option4_as:hover {
  color: black;
  background-color: white;

}

#side_option5_as {
  color: white;
  font-family: "Footer-titles";
  font-size: 12pt;
  position: relative;
  cursor: pointer;
 top: 48px;
 text-decoration:none;
  left: 25%;
  padding-right: 50%;
  padding-left: 3%;
  padding-top: 3px;
  padding-bottom: 3px;
}
#side_option5_as:hover {
  color: black;
  background-color: white;

}

.side_text-class {
  display: none;
  position: relative;
  width: 64%;
  margin-left: 100px;
  color: white;
  font-size: 11pt;
  font-style: 'Light';
  line-height: 17px;
  
}


#side_text1_as {
  margin-top: 15px;
}

#side_text2_as {
  margin-top: 23px;
}
#side_text3_as {
  margin-top: 31px;
}
#side_text4_as {
  margin-top: 39px;
}
#side_text5_as {
  margin-top: 47px;
}

#side_text1 {
  margin-top: 15px;
}

#side_text2 {
  margin-top: 23px;
}
#side_text3 {
  margin-top: 31px;
}
#side_text4 {
  margin-top: 39px;
}
#side_text5 {
  margin-top: 47px;
}



/* SIDE OPTIONS ALOE-VERA Y SOPHIM */

#side_options {
  background-color: #BCAE72;
  height: 101vh;
  width: 30vw;
  z-index: 10;
  position: absolute;
  left: -60vh;
  top: 400; 
cursor: default;
}

#side_list {
  position: relative;
  top: 200px;
  
  
}

#side_title {
  position: relative;
  top: 170px;
  left: 10%;
  width: 80%;
  font-family: "Footer-titles";
  font-size: 25.45pt;
  color: white;
}

#side_option1 {
  color: white;
  font-family: "Footer-titles";
  font-size: 12pt;
  position: relative;
  cursor: pointer;
  text-decoration:none;
  left: 25%;
  
  padding-right: 170px;
  padding-left: 3%;
  padding-top: 3px;
  padding-bottom: 3px;

}
#side_option1:hover {
  color: black;
  background-color: white;
}
#side_option2 {
  color: white;
  font-family: "Footer-titles";
  font-size: 12pt;
  position: relative;
  cursor: pointer;
  top: 12px;
  text-decoration:none;
  left: 25%;
  padding-right: 170px;
  padding-left: 3%;
  padding-top: 3px;
  padding-bottom: 3px;
}
#side_option2:hover {
  color: black;
  background-color: white;
}

#side_option3 {
  color: white;
  font-family: "Footer-titles";
  font-size: 12pt;
  position: relative;
  cursor: pointer;
  top: 24px;
  text-decoration:none;
  left: 25%;
  padding-right: 170px;
  padding-left: 3%;
  padding-top: 3px;
  padding-bottom: 3px;
}
#side_option3:hover {
  color: black;
  background-color: white;

}

#side_option4 {
  color: white;
  font-family: "Footer-titles";
  font-size: 12pt;
  position: relative;
  cursor: pointer;
  top: 36px;
  text-decoration:none;
  left: 25%;
  padding-right: 170px;
  padding-left: 3%;
  padding-top: 3px;
  padding-bottom: 3px;
}
#side_option4:hover {
  color: black;
  background-color: white;

}

#side_option5 {
  color: white;
  font-family: "Footer-titles";
  font-size: 12pt;
  position: relative;
  cursor: pointer;
 top: 48px;
 text-decoration:none;
  left: 25%;
  padding-right: 50%;
  padding-left: 3%;
  padding-top: 3px;
  padding-bottom: 3px;
}
#side_option5:hover {
  color: black;
  background-color: white;

}

.side_li {
    width: 80%;
}

#emulsionantes_div {
  height: 52%;

}

#phyto_div {

  height: 58%; top: 0%;
}

/*  /SIDE OPTIONS */
#back-btn {
  background: url("../IMG/4x/flecha1@4x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  position: relative;
  border-style: none;
  top: 120px;
 left: 20px;
outline: none;
cursor: pointer; }

  #back-btn2 {
    background: url("../IMG/4x/flecha1@4x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-style: none;
    margin-top: 30px;
    margin-left: 10px; 
  outline: none;}

#option1 {
  background: url("../IMG/olive-oil-968657_1920.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: relative;
  width: 25%;
  height: 100%;
top: 1%; }

#option2 {
  background: url("../IMG/4x/option2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: relative;
  width: 25%;
  height: 100%; }

#option3 {
  
  
  display: inline-block;
  position: relative;
  width: 25%;
  height: 100%; }

  .option3_photo {
    background-image: url("../IMG/option3.jpg");
    background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  #option4 {
    background: url("../IMG/option4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    width: 25%;
    height: 100%; }

#emulsifiers {
  font-size: 16.77pt;
  font-family: "Title";
  color: white;
  position: absolute;
 width: 100%;
  text-align: center;
  bottom: 110px;
  z-index: 2; }

#textured {
  font-size: 16.77pt;
  font-family: "Title";
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 110px;
  z-index: 2; }

#fixers {
  font-size: 16.77pt;
  font-family: "Title";
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 110px;
  z-index: 2; }
#oliva {
    font-size: 16.77pt;
    font-family: "Title";
    color: white;
    position: absolute;
    width: 100%;
    
  text-align: center;
  bottom: 110px;
    z-index: 2; }

/*--//CONTACT----------------------------->*/
/*--//CONTACT----------------------------->*/
/*--/CONTACT----------------------------->*/
#contact {
  background: url('../IMG/lab-217043_1280.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.contact_inputs {
  width: 65vw;
  position: relative;
  left: 50%;
  margin-left: -32.5vw;
  background-color: #959C7F;
  
 color: white;
 font-size: 11.75pt;
 font-family: 'Text-choices';
 border-left: 15px solid #959C7F;
 border-top: none;
 border-right: none;
 border-bottom: none;
  
}
::-webkit-input-placeholder { color: white;  font-family: "Text-choices"; font-size: 14px; } 

::-moz-placeholder { color: white;  font-family: "Text-choices"; font-size: 14px;} 

::-ms-input-placeholder { color: white;  font-family: "Text-choices"; font-size: 14px;}

textarea:focus, input:focus, input[type]:focus {
    outline: 0 none;
}

#company {
  
  top: 3vh;
  padding-left: 0.2%;
}

#company_web {
   top: 4vh;
   padding-left: 0.2%;
}

#city{
  top: 5vh;
  padding-left: 0.2%;
}

#adress{
  top: 6vh;
  padding-left: 0.2%;
}

#postal_code{
  top: 7vh;
  padding-left: 0.2%;

}

#country {
  top: 8vh;
  padding-left: 0.2%;

}

#name{
  top:14vh;
  padding-left: 0.2%;

}

#e-mail{
  top: 15vh;
  padding-left: 0.2%;
}

#phone_number {

  top: 16vh;
  padding-left: 0.2%;
}

#message {
  top: 22vh;
  width: 65vw;
  position: relative;
  left: 50%;
  margin-left: -32.5vw;
  height: 20vh;
  background-color:#8F9FA9;
  border-color: transparent;
  color: white;
  border-left: 15px solid #8F9FA9;


}

#captcha {
  position: relative;
  top: 26vh;
  left: 17.5%;

}

#button{
  position: relative;
  top: 28%; 
  left:50%;
  width:60px;
  height:60px;
  margin-left: -30px ;
  background-color:#959C7F;
 cursor: pointer;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  
}
#button:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}
#button a{
  position: relative;
  top: 25%;
  left: 17%;
  color:#fff;
  text-decoration:none;
  font-family: 'Text-choices';
  
  
}


/*--//PAGINAS----------------------------->*/
/*--//PAGINAS----------------------------->*/
/*--//PAGINAS----------------------------->*/


.allproducts_title{
  width: auto;
  position: absolute;
  top: 17%;
  left: 14%;
  right: 0;
  color: white;
  font-family: 'Text-choices';
  font-size: 20pt; 
}

.allproducts_subtitle{
  width: 50% ;
  position: absolute;
  top: 15%;
  left: 35%;
  color:white;
  font-weight: bold;
  font-family: 'Text';
  font-size: 25pt; 
}

.allproducts_text{
  width: 45%;
  position: absolute;
  top: 63%;
  left: 35%;
  color: white;
  font-size: 11pt;
  font-family: 'Regular'; 
  text-align: justify;
  
}
.allemul_div{
  position: relative;
  width: 100vw;
  height: 45vh;
  top: 10%;
  background-color: #899fa9;
  color:#899fa9;
  opacity: 90%; 

}

.green_space {

  position: absolute;
  top: 75% ;
  width: 100%;
  height: 15%;
  background-color: #293501;
  color: #293501;
  opacity: 80%;

}

.blue_space {

  position: absolute;
  top: 75% ;
  width: 100%;
  height: 15%;
  background-color: #8D9EA8;
  color: #8D9EA8;
  opacity: 80%;

}

.bblue_space {

  position: absolute;
  top: 75% ;
  width: 100%;
  height: 15%;
  background-color:#899fa9;
  color: #899fa9;
  opacity: 80%;

}

#white_logo{

  position: absolute;
  top: 76%;
  width: 5%;
  right: 11%;
  z-index: 2;

}

.close_all{

  position: absolute;
  top: 1.5%;
  width: 4%;
  right: 48%;
  z-index: 2;
  cursor: pointer;
}




#text_insa_em {
  top:47%;
}

.bio_em_text{
  top: 42%;
  width: 50%;
}
#emul_divv{
  height: 50%;
}

.emul_div2{
  background-color: #959C7F;
}
#phy_esc_txt {
  top: 44%;
}
#bio_esc_txt {
  top: 54%;
}

.tex_divv{
  background-color: #CCBA76;
  top:5%; height: 55%;
}

.tex_div2{
  background-color:#CCBA76;
}

#tex_text {
  top: 46.3%;
}

#tex_text2 {
  top: 50%;
}

.r{
  font-size: 9pt;
  display: inline;
  color: white;
 
  
  
}
.barra{
  left: 30%;
}


/*--//EMULSIONES----------------------------->*/
/*--//EMULSIONES----------------------------->*/
/*--//EMULSIONES----------------------------->*/
.container_nat_emul {
  
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh; }

#content_natural {
  position: relative;
  width: 100vw;
  height: 40vh;
  top: 5%;
  background-color: #FFFFFF;
  color: white;
  opacity: 85%; }



  #natural_emulsions {
  position: absolute;
  top: 30%;
  left: 5%;
  right: 0;
  color: grey;
  font-family: 'Title';
  font-size: 13px; 
}

#escualan {
  position: absolute;
  top: 20%;
  left: 27%;
  color: black;
  font-weight: bold;
  font-family: 'Title';
  font-size: 35px; }

#text_escualan {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 27%;
  color: #9d9d9d;
  font-size: 13px;
  font-family: 'Text-options'; }

#phy {
  display: inline-block;
  height: 100%;
  width: 50%;
  display: inline-block;
  background: url("../IMG/biophytosebum-sophim-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

#phytosqualan-content {
  position: absolute;
  background-color: #8F9FA9;
  color: white;
  width: 28%;
  height: 48%;
  top: 525%;
  left: 11%;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2; }

#phy_text {
  top: 25%;
  position: absolute;
  height: auto;
  font-size: 12px; }

.photos_grey {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.photos_grey:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

#insapolive {

  display: inline-block; 
  height: 100%;
  width: 50%;
  


  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

#insapolive-content {
  position: absolute;
  background-color: white;
  color: #898988;
  width: 28%;
  height: 48%;
  top: 525%;
  left: 61%;
  justify-content: center;
  align-items: center;
  text-align: center; }

#insa_text {
  line-height: 35px;
  top: 25%;
  position: absolute;
  height: auto;
  font-size: 12px; }

#resp_log{
  position: absolute; top: 25%; left: 50%; width: 150px; margin-left: -75px;

}
#resp_log2{

  position: absolute; top: 55%; left: 50%;  width: 450px; margin-left: -225px;
}

#resp_log3{
  position: absolute; top: 63%; left: 50%; width: 280px; margin-left: -140px;

}

#allproducts_text_resp{ 

  top: 53%;

}

#aceites_div {

  top:5%; height: 50%; background-color: #8D9EA8;
}

#section_aceites {

  min-width: 100vw; min-height: 285vh;  

}
#close_aceites{

top:115%; right: 5%; width: 70px; 
}

.ace_vege {
  font-family: 'Title'; top: 51px; left: 21%; position: relative; font-size: 29pt; color: #959C7F;

}

#imagen_aceites {
  position: absolute; top: 127%; right: 14%; width: 160px;
}

#primera_columna {

  position: absolute; height: 50%; width: 20%; top: 40%; left: 33%;
}

.primera_columna2 {

  font-size: 12pt; font-family: 'Text';

}


#segunda_columna{

  position: absolute; height: 50%; width: 20%; top: 40%; left: 43%;
}

.segunda_columna2{

  padding-top: 1; font-size: 15px;

}

#tercera_columna {

  position: absolute; height: 50%; width: 33%; top: 40%; left: 50%;
}

#tercera_columna2 {

  font-size: 11pt; font-family: 'Footer-titles';

}

#somos_resp {
  top: 7%; left:31% ;

}

#materias{
  top: 8%
}



/*--//FOOTER----------------------------->*/
/*--//FOOTER----------------------------->*/
/*--//FOOTER----------------------------->*/
section {
  padding: 10px 0; }

section .section-title {
  text-align: center;
  color: #959C7F;
  margin-bottom: 50px;
  text-transform: uppercase; }

#footer {
  background: #959C7F !important; }

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  color: #ffffff; }

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  padding-left: 15px; }

#footer ul.social li {
  padding: 3px 0; }

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease; }

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px; }

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff; }

#footer ul.social li a:hover {
  color: #eeeeee; }

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease; }

#footer ul.quick-links a:hover {
  font-weight: bold; }

i {
  color: black;
  margin-right: 10px; }

.container {
  position: relative;
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center; }

.container_footer {
  position: relative;
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center; }

.footer-list {
  position: absolute;
  top: 30px;
  list-style: none;
  color: white;
  
  min-width: 230px; }

.footer-list > .title {
  font-size: 22px;
  font-family: 'Footer-titles'; }

.footer-elements {
  font-size: 9pt;
  font-family: 'Regular';
  position: relative;
  cursor: pointer;
  left: 50px; }

#list1 {
  width: 200px;
  height: 180px;
  position: absolute;
  left: 2%;
  top: 15%; }

#list2 {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 18%;
  top: 15%; }

#list3 {
  position: absolute;
  left: 35%;
  top: 15%;
  width: 200px;
  height: 180px; }

#list4 {
  width: 200px;
  height: 180px;
  position: absolute;
  left:50%;
  top: 15%; }

#list5 {
  width: 200px;
  height: 180px;
  position: absolute;
  right: 10%;
  top: 15%;
margin-right: -30px; }

ul {
  flex-direction: column; }


  .newClass {
    height: 120vh;
    width: 120vw;
  }




  /*slider*/

  
  .slider {
    width: 100%;
    height: 200px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .slider::-webkit-scrollbar {
    display: none;
  }
  
  .slider .slide {
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.3s left ease-in-out;
    
  }
  
  .slider .item {
    margin-right: 10px;
  }
  
  .slider .item:last-child {
    margin-right: 0;
  }
  
  .ctrl {
    text-align: center;
    margin-top: 5px;
  }
  
  .ctrl-btn {
    padding: 20px 20px;
    min-width: 50px;
    background: #fff;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
  
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
  }
  
  .ctrl-btn.pro-prev {
    left: 0;
  }
  
  .ctrl-btn.pro-next {
    right: 0;
  }
  


/* MEDIA */



@media screen and (max-width: 1100px )  {

  .logo_content{
    display: none;
  }

 .menu_options {
   visibility: hidden;

 }

 .title-div-who{

  top: 10%;
 
}

.title-div-news{

  top: 10%;
 
}



.text-div-who {

  left: 10%;
  width: 80%;
}
.text-div-news {

  left: 10%;
  width: 80%;
  top: 84px;
}

.subtext-div-who {
  left: 10%;
  width: 80%;
}

.title-div {
  top: 13%;
  left: 10%;
  margin-left: -15px;
  
}
.text-div{
  left: 10%;
  margin-left: -15px;
}

#close-btn {
  top: 26vh;
}
}
@media screen and (max-width: 990px )  {
#option1_sophim{
  width: 100vw !important;
  height: 100vh !important;
}
#option2_sophim{
  width: 100vw !important;
  height: 100vh !important;
}
#container_products_sophim{
  height: 100vw !important;
}
#list2 {
  top: 40%;
}
#list4{
  top: 40%;
}
#footer_lkd{
  display: none;
}
#logo_footer{
  display: none;
}
 
 }

@media screen and (max-width: 800px) {

  .BR_800 {
    display: none;
  }
  .header {

    height: 90px;
  }
  
  .logo{
    visibility: hidden;
  }
  
  #content_who {

    height: 80%;


  }

  .subtext{
    font-size: 14px;
    width: auto;
    
  }
  .subtext-div-who {
    top: 47%;
  }

  .text{
    font-size: 33px;;
  }

  #oliva {
    transform: rotate(270deg);
    width: 150px;
    top: 77%;
  }
  #textured {
    transform: rotate(270deg);
  }
  #fixers {
    transform: rotate(270deg);
    
  }
  #emulsifiers {
    transform: rotate(270deg);
  }
  #content_who{
    height:90%;
  }
  #linkedin_lateral {
    position: absolute; 
    top: 70vh; 
    right: 50%;
    margin-right: -10px; 
  }
  
  #follow_lateral {
  
    top: 84vh; 
    right: 50vw;
    margin-right: -46px;  
  }
  
  #plus_lateral{
   
    top: 92vh; 
    right: 50%;
    margin-right: -10px;    
  }
  .portfolio {
    top: 105vh;
  }

  .content{
    height: 118vh;
  }
  #cookies_div {
    top: 118vh;
  }
  .text {
    font-size: 30px;
  }
  #close-btn {
    top: 26vh;
    left: 7vw;
    height: 80px;
    width: 80px;
    margin-top: -20px;
    margin-left: -20px;
  }
 
}

@media screen and (max-width: 560px){

  .subtext{
    font-size: 12px;
    
  }

  #title_who_resp {

    font-size: 15px;
  }

  .bblue_space{
    display: none;
  }
 
  .allemul_div{
    height: 80%;
  }

  .allproducts_title{
  top: 10%;
  left: 10%;

  }

  .allproducts_subtitle{

      font-size: 20px;
      left: 10%;
      top: 23%;
      width: 75%;
      
  }

  .allproducts_text {

    left: 10%;
    top: 51%;
    width: 75%;
    
  }

  .close_all{
    width: 60px;
    left: 50% ;
    margin-left: -24px;
  }

  #white_logo{
    display: none;
  }

  
  .BR{
    display: none;
  }

  #allproducts_text_resp{
  top: 40%;

  }

  
  .subtext-div-who{
    top: 40%;
  }
  .title-div-who{
    top: 5%;
  }
  .text-div-who{
    top: 12%;
  }
  #content_who{
    height: 98%;
    top: 2%;
  }


  .bio_em_text {
  top: 37%;
  width: 78%;

  }

  #emulsionantes_div {
    height: 85%;
    
  }
  
#tex_text2 {
  top: 40%;
}
#content_news {
  height: 40vh;;
}

#emul_divv{

  height: 75%;
  
}
#phyto_div {

  height: 85%;
}

#aceites_div {
  top: 10%;
height: 70%;

}

#portfolio_aceites{

  left: 10%;
}

#section_aceites{
min-width: 100vw; min-height: 150vh;
}

#page {
  margin-top: 10%;
  top: 240% ;
  left:55%;
  
}
#close_aceites{

  top:110%; width: 60px;
}

.ace_vege {
  top: 125%; left: 10%; position: absolute; font-size: 25pt; 

}
#imagen_aceites {
  top: 137%; left: 10%; width: 100px;
}



#somos_responsive {

  font-size: 20px; top: 20%; width: 80%;
}

#somos_resp {
  top: 15%; left:5% ; width: 90%

}

#primera_columna {

  height: 50%; width: 20%; top: 39%; left: 5%;
}



#tercera_columna {

 height: 46%; width: 58%; top: 39%; left:36%;
}

.primera_columna2 {

  font-size: 10pt;
}

.segunda_columna2{
  font-size: 9pt;


}

#tercera_columna2{

  font-size: 9pt;
}

#materias {

  top: 8%;
  left: 5%;
  width: 60%;

}


#captcha {
  transform: scale(0.7);
  margin-left: -221px;
  left: 50%;
  padding: 0;
  
}
#list1 {
  top: 5%;
  left: 50%;
  margin-left: -115px;
}
#list2 {
  top: 25%;
  left: 50%;
  margin-left: -115px;
}
#list3 {
  top: 53%;
  left: 50%;
  margin-left: -115px;
}
#list4 {
  top: 69%;
  left: 50%;
  margin-left: -115px;
}
#list5 {
  top: 89%;
  left: 50%;
  margin-left: -115px;
}
#footer{
  height: 80vh;
}

#menu-round {
  transform: scale(0.7);
  
}


#p1{
  
  position: absolute;
  top:0%;
}

#p2{
  
  position: absolute;
  top: 73px;

}

#p3{
  
  position: absolute;
  top:158px;

}

#p4{
  
  position: absolute;
  top:230px;

}
#resp_log2{
  transform: scale(0.7);
}
#text-who-resp {
  font-size: 20px;
}

#subtext-resp {
  top: 27%;
}

#text_contact {
  font-size:18pt;
}
#text_div-contact {
  top: 35%;
}

}